body {
    background-color: #e1baba;
}

img {
    width: 200px; 
    height: 300px; 
}

.round-image {
    border-radius: 50%; 
}

.border-image {
    border: 2px solid #333; 
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-size: 18px;
}

ul, ol {
    color: #6c7d7e;
}

h1 {
    margin: 2rem 4rem;
}


p {
    padding: 10px 200px 15px 25px; 
}


nav {
    text-align: left; 
}


ul {
    margin-left: 30px; 
}


body {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto; 
}